---
export interface Props {
  background: string;
}

const { background } = Astro.props;
---

<section class="relative overflow-hidden md:h-[33em]">
  <img
    src={background}
    alt="Fondo"
    loading="lazy"
    width="400"
    height="300"
    class="w-full h-full transform transition-all duration-500"
  />
  <div class="absolute inset-0 bg-gradient-to-t from-[#0A192F] via-transparent to-transparent">
  </div>
</section>
