---
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import FloatingButton from "../components/FloatingButton.astro";
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/iconFooter.webp" />
  <meta name="generator" content={Astro.generator} />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
  <title>Circulo Militar</title>
</head>

<body class="relative min-h-screen">
<div class="absolute inset-0 bg-[url('flipped-diamonds.svg')] bg-repeat opacity-10"></div>
<div class="relative z-10">
  <Header />
  <main>
    <slot />
  </main>
  <Footer id="contacto" />
  <FloatingButton/>
</div>
</body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>
